<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <form action="" method="">
            <fieldset>
                <div class="acout"></div>

                <div class="form">
                    <h2>Login</h2>
                    <p>sing in to your Account</p>

                    <div class="input">
                        <input id="name" type="text" placeholder="username" name="name">
                        <span class="span">Falta</span>
                        <input id="email" type="email" placeholder="email" name="email">
                        <span class="span">dsadsa</span>

                        <input type="submit" value="register">

                    </div>

                    <h3 class="register"><a href="#">Registe new Account</a> </h3>
                </div>
            </fieldset>
        </form>
    </div>


    <script src="index.js"></script>
</body>
</html>